h1{
    color: aquamarine;
}

body {
    
}

p {
    color: red;
}
img {
    width: 60%;
    height: 60%;
    text-align: left;
    
}
.imagen1 {
    width: 500px;
    height: auto;
   /* background-color: blue;*/
    background-image: "https://cdn.pixabay.com/photo/2025/05/06/12/05/bike-9582579_640.png";
}

.textoImagen1 {
    color: aqua;
    text-align: right;
    width: 20%;
    background-color: black;
}
.videoooo{
    background-image: "https://youtu.be/GCFnRkorl5g?si=93enDW6RgybWcpDY";
}
